 {% extends 'header.html' %}
 {% block title  %}
 Home page
 
 {% endblock  %}

 {% block main_body%}
<div class="container" style="background-color: green;">
<p style="color:white"> Upload Classification Data</p>
<div class="jumbotron">
<form action = "/upload_classify_files" method = "post" enctype="multipart/form-data">  
 
    <input type="file" name="file" />  
    <input type = "submit" value="Upload">  
</form> 
</center> 
<center><font color="green"><p><h6> {{ success}}</h6></p>  </font> 
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
  </nav>
<hr size="30" noshade>
<a  href="{{ url_for('ClassifyActivity') }}"><input type="button" value="Classify Data" ></a>
</center></div> </div>

 {%endblock%}